<!DOCTYPE html>
{% load static %}
<html>
  <head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'bundle.css' %}">
  </head>
  <body>
      <div class="container">
      <h1>Sentiment Analysis</h1>
      <div class="searchbar">
        <label
          class="
            mdc-text-field
            mdc-text-field--outlined
            mdc-text-field--no-label
            mdc-text-field--with-trailing-icon
          "
        >
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
          <input
            class="mdc-text-field__input"
            type="text"
            id="searchProduct"
            placeholder="Search a product"
            aria-label="Label"
          />
        </label>
        <button class="mdc-button mdc-button--outlined" id="search-btn">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label material-icons" aria-hidden="true"
            >search</span
          >
        </button>
      </div>

      <div class="results">
        <div class="searchresults">
          <ul id="result-list" class="mdc-list" role="listbox"></ul>
          <ul id="link-list" class="mdc-list"></ul>
        </div>
        <div class="analysis">
          <div id="analysis-table" class="mdc-data-table hidden">
            <div class="mdc-data-table__table-container">
              <table
                class="mdc-data-table__table"
                aria-label="Analysis results"
              >
                <thead>
                  <tr class="mdc-data-table__header-row">
                    <th
                      class="mdc-data-table__header-cell"
                      role="columnheader"
                      scope="col"
                    >
                      Classifier
                    </th>
                    <th
                      class="
                        mdc-data-table__header-cell
                        mdc-data-table__header-cell--numeric
                      "
                      role="columnheader"
                      scope="col"
                    >
                      Positive reviews
                    </th>
                    <th
                      class="
                        mdc-data-table__header-cell
                        mdc-data-table__header-cell--numeric
                      "
                      role="columnheader"
                      scope="col"
                    >
                      Negetive reviews
                    </th>
                  </tr>
                </thead>
                <tbody
                  id="analysis-list"
                  class="mdc-data-table__content"
                ></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'bundle.js' %}" async></script>
  </body>
</html>